.dockerignore
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
Dockerfile
jest.config.js
node_modules
npm-debug.log
.git
.npmrc
test
README.md
.vscode
